@font-face {
  font-family: coolvetica;
  src: url('server/public/coolvetica rg.otf')
}


.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  padding: 2px 4px 2px, 2px;
  max-width: 25%;
  background-color: rgb(208, 208, 208);
  border: 3px, black;
  border-radius: 10%;
  margin: 4px; 
}

.column img {
  padding-top: 3px;
  margin-top: 8px;
  vertical-align: middle;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.column p {
  margin-top: 8px;
  vertical-align: middle;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

header .logo {
  flex: 25%;
  max-width: 50%;
  padding: 4px;
  margin-left: 10%;
  margin-right: 10%;
}

input {
  display: block;
}
.form {
  margin-left: 30%;
}

body {
  margin-left: 20%;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  background: radial-gradient(circle, rgba(255,166,166,1) 0%, rgba(255,174,247,1) 49%, rgba(255,166,166,1) 100%);
  font-family: coolvetica;
}